* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: #26602F;
    transition: 0.4s;
}

.nav-link {
    font-size: 1.25em;
  
}

/* TO BE IMPLEMENTED */
/* .nav-link::before{
    content: " " !important;
    border: 5px #658b63 !important;
} */


.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #388835;
}

.dropdown-menu {
    background-color: #3d7445 !important; 
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #388835 !important;
}

.my-container {
    transition: 0.4s;
}


/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: #26602F;
    color: #fff;
    position: fixed;
    z-index: 1;
}

#menu-btn:focus {
    box-shadow: 0 0 0 0.25rem #26602F44;
}